<!DOCTYPE html>
<html>
<head>
    <title>{{ .title }}</title>
</head>
<body>
    <h1>{{ .title }}</h1>
    <h2>Total Cars: {{ .totalCars }}</h2>

    <h3>Car List</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Car Name</th>
                <th>Manufacturing Year</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {{ range .cars }}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .CarName }}</td>
                <td>{{ .ManufacturingYear }}</td>
                <td>{{ .Price }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</body>
</html>
